<!DOCTYPE html>
<html ng-app="productManagement">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet"type="text/css" />  
    <script src="~/Scripts/angular.min.js"></script>  
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    

    <script src="~/js/app.js"></script>

    <script src="~/js/TeamApp.js?version=1"></script>
    
    <script src="~/js/TeamControllers.js?version=1" type="text/javascript"></script>

    <script src="~/js/mainCtrl.js"></script>
    
    
    
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    
    <script src="~/js/perfSurf.js"></script>
    
    

    <link href="~/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/custom-styles.css" rel="stylesheet" />
    <link href="~/css/font-awesome-ie7.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
   
  


</head>
<body ng-view>
    
<div class="header-wrapper">
    <div class="site-header">
        <div class="container">
            <div class="site-name">
                <h1>American Football</h1>
            </div>
        </div>
        <div class="container">
            <div class="menu">
                <div class="navbar">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="fa fa-th-list"></i>
                    </a>
                    <div class="navbar-collapse collapse">
                        <ul class="nav">
                            <li><a href="#!/playerlist" >Players</a></li>
                            <li><a href="#!/list" >Teams</a></li>
                            <li><a href="#!/gamelist">Games</a></li>
                            <li><a href="#!/index">Index</a></li>
                            @*<li><a href="#!/playersviewslist/1">PlayersViews</a></li>*@
                            @*<li><a href="#!/home">Login</a></li>*@
                           
                            @*<li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>*@
                            @*<li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                            <li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>*@
                        </ul>
                        @Html.Partial("_LoginPartial")
                        </div><!--/.nav-collapse -->
                </div>
                
            </div>
        </div>
                    
    </div>
</div>

    
<div class = "container body-content" >
    @RenderBody()
    <hr />
  
       
  
</div>
    
<div class="footer-wrapper">
    <div class="container">
        <div class="footer-links">
            <div class="row-fluid">
                <div class="span3">
                    <div class="copy-rights">
                        <span>Copyright &copy; @DateTime.Now.Year</span><br>All rights reserved. 
                    </div>
                </div>
                <div class="span3">
                    <div class="copy-rights">
                        <span>Designed by: </span><br><a href="http://www.alltemplateneeds.com">Krzysztof Czaplejewicz </a>
                    </div>
                </div>
                <div class="span3">
                    <div class="copy-rights">
                        <span>Images From:  </span><br>
                        <a href="http://plfa.pl/">plfa.pl </a>
                    </div>
                </div>
                <div class="span3">
                    <div class="copy-rights">
                        <span>Contact  </span><br>
                        <a href="#">czaplejewicz.krzysztof@gmail.com</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer">
            <div class="row-fluid">
                <div class="social span3">
                    <ul>
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-phone"></i></a></li>
                    </ul>
                </div>
                <div class="footer-menu span9">
                    <ul>
                        <li><a href="#!/playerlist">Players ::</a></li>
                        <li><a href="#!/list" >Teams ::</a></li>
                        <li><a href="#!/gamelist">Games ::</a></li>
                        <li><a href="#!/index">Index ::</a></li>
                                
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
   

</body>
</html>
