@using Microsoft.Ajax.Utilities
@using MVC.Models
@model MVC.Models.Team

@{
    ViewBag.Title = "Team - " + Model.Town + Model.Players;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h2>@Html.DisplayFor(model=> model.TeamName)</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Town)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Town)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TeamCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TeamCode)
            </dd>
    
        </dl>
    </div>
    <p>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart",
            "TeamCart", new { id = Model.Id }, "") |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</p>

</body>
</html>
