@model MVC.ViewModels.TeamCartViewModel

@{
    ViewBag.Title = "Team Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout")
</p>

<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Team
        </th>
        <th>
            Town
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordId">
            <td>
                @Html.ActionLink(item.Team.TeamName, "Details", "Teams", new { id =
                    item.TeamId }, null)
            </td>
            <td>
                @item.Team.Town
            </td>
            <td id="item-count-@item.RecordId">
                @item.Count
            </td>
            <td>
           
                @*<input type="submit" value="Remove" href="#" class="RemoveLink" data-id="@item.RecordId"/>*@
                <a href="#" class="RemoveLink" data-id="@item.RecordId" >Remove</a>
            
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.CartItems.Count
        </td>
    </tr>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete != '') {
                    // Perform the ajax post
                    $.post("/TeamCart/Remove", { id: recordToDelete },
                        function (data) {
                            // Successful requests get here
// Update the page elements
                            if (data.ItemCount == 0) {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                            } else {
                                $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            }
                            $('#cart-total').text(data.CartTotal);
                            $('#update-message').text(data.Message);
                            $('#cart-status').text('Cart (' + data.CartCount + ')');
                        });
                }
            });
        });
        function handleUpdate() {
            // Load and deserialize the returned JSON data
            var json = context.get_data();
            var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
            // Update the page elements
            if (data.ItemCount == 0) {
                $('#row-' + data.DeleteId).fadeOut('slow');
            } else {
                $('#item-count-' + data.DeleteId).text(data.ItemCount);
            }
            $('#cart-total').text(data.CartTotal);
            $('#update-message').text(data.Message);
            $('#cart-status').text('Cart (' + data.CartCount + ')');
        }
    </script>
}
